
<form role="form" data-bind="with: ModelStudent">
    <div class="form-group">
        <label for="inpFirstName">Имя</label>
        <input id="inpFirstName" type="text" class="form-control" data-bind="value: FirstName" />
    </div>
    <div class="form-group">
        <label for="inpLastName">Фамилия</label>
        <input id="inpLastName" type="text" class="form-control" data-bind="value: LastName" />
    </div>
    <div class="form-group">
        <label for="inpGender">Пол</label>
        <select id="inpGender" class="form-control" data-bind="value: Gender">
            <option value="Male">Мужчина</option>
            <option value="Female">Женщина</option>
            <option value="Other">Другой</option>
        </select>
    </div>
    <div class="form-group">
        <label for="txtPhone">Телефон</label>
        <input id="txtPhone" class="form-control" data-bind="value: Phone" />
    </div>
</form>