<style type="text/css">
    .isVisible {
        display: inline;
    }

    .isHidden {
        display: none;
    }
</style>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr data-bind="click: sortTable">
            <th data-column="Id">
                ID
                <span data-bind="attr: { class: currentColumn() == 'Id' ? 'isVisible' : 'isHidden' }">
                    <i data-bind="attr: { class: iconType }"></i>
                </span>
            </th>
            <th data-column="FirstName">
                Имя
                <span data-bind="attr: { class: currentColumn() == 'FirstName' ? 'isVisible' : 'isHidden' }">
                    <i data-bind="attr: { class: iconType }"></i>
                </span>
            </th>
            <th data-column="LastName">
                Фамилия
                <span data-bind="attr: { class: currentColumn() == 'LastName' ? 'isVisible' : 'isHidden' }">
                    <i data-bind="attr: { class: iconType }"></i>
                </span>
            </th>
            <th data-column="Gender">
                Пол
                <span data-bind="attr: { class: currentColumn() == 'Gender' ? 'isVisible' : 'isHidden' }">
                    <i data-bind="attr: { class: iconType }"></i>
                </span>
            </th>
            <th data-column="Phone">
                Телефон
                <span data-bind="attr: { class: currentColumn() == 'Phone' ? 'isVisible' : 'isHidden' }">
                    <i data-bind="attr: { class: iconType }"></i>
                </span>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody data-bind="template: { name: currentTemplate, foreach: currentPage }">
        
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                Отобразить на странице:
                <select id="pageSizeSelector" data-bind="value: pageSize">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                </select>
                <span style="padding-left:20px;">
                    <button data-bind="click: previousPage($data)" class="btn btn-sm"><i class="glyphicon glyphicon-step-backward"></i></button>
                    Страница&nbsp;<label data-bind="text: currentPageIndex() + 1" class="badge"></label>
                    <button data-bind="click: nextPage($data)" class="btn btn-sm"><i class="glyphicon glyphicon-step-forward"></i></button>
                </span>
            </td>
        </tr>
    </tfoot>
</table>

@*  Шаблон чтения *@
<script type="text/html" id="readonlyTemplate">
    <tr>
        <td data-bind="text: Id"></td>
        <td data-bind="text: FirstName"></td>
        <td data-bind="text: LastName"></td>
        <td data-bind="text: Gender"></td>
        <td data-bind="text: Phone"></td>
        <td><button type="button" class="btn btn-warning glyphicon glyphicon-pencil btn-sm" data-bind="click: $parent.editTemplate"></button></td>
        <td><button type="button" class="btn btn-danger glyphicon glyphicon-trash btn-sm" data-bind="click: $root.StudentChanges.removeStudent"></button></td>
    </tr>
</script>
@* Шаблон редактирования *@
<script type="text/html" id="editTemplate">
    <tr>
        <td data-bind="text: $data.Id"></td>
        <td>
            <input type="text" data-bind="value: $data.FirstName" class="form-control" />
        </td>
        <td>
            <input type="text" data-bind="value: $data.LastName" class="form-control" />
        </td>
        <td>
            <input type="text" data-bind="value: $data.Gender" class="form-control" />
        </td>
        <td>
            <input type="text" data-bind="value: $data.Phone" class="form-control" />
        </td>
        <td>
            <button type="button" class="btn btn-success glyphicon glyphicon-ok btn-sm" data-bind="click: $parent.saveChanges"></button>
        </td>
        <td>
            <button type="button" class="btn btn-danger glyphicon glyphicon-remove btn-sm" data-bind="click: $parent.resetTemplate"></button>
        </td>
    </tr>
</script>