@model IEnumerable<TypeScriptKOTable.Models.Student>

@{
    ViewBag.Title = "Home Page";
}
<input type="hidden" id="serverJSON" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
<div class="page-header">
    <h2 class="text-center">Регистрация студентов</h2>
</div>

<div class="row">

    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Добавить нового студента</h2>
            </div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Список студентов</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed" data-bind="with: StudentViewModel">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Пол</th>
                            <th>Телефон</th>
                        </tr>
                    </thead>

                    <tbody data-bind="foreach: students">
                        <tr>
                            <td data-bind="text: Id"></td>
                            <td data-bind="text: FirstName"></td>
                            <td data-bind="text: LastName"></td>
                            <td data-bind="text: Gender"></td>
                            <td data-bind="text: Phone"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/TableScript.js"></script>
}