@model IEnumerable<TypeScriptKOTable.Models.Student>

@{
    ViewBag.Title = "Home Page";
}
<div class="page-header">
    <h2 class="text-center">Регистрация студентов</h2>
</div>
<style type="text/css">
    .isVisible {
        display: inline;
    }

    .isHidden {
        display: none;
    }
</style>
<div class="row">

    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Добавить нового студента</h2>
            </div>
            <div class="panel-body" data-bind='component: { name: "AddStudent", params: {  $root }}'>
                @*@Html.Partial("_RegisterStudent")*@
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Список студентов</h2>
            </div>
            <div class="panel-body" data-bind="with: StudentAction">
                @Html.Partial("_StudentsList")

                @*<br />
                <input type="button" class="btn btn-default" id="btnGetStudents" value="Обновить" data-bind="click: getStudents" />*@
            </div>
        </div>
    </div>
    
</div>
<div data-bind='component: "message-editor"'></div>
@section Scripts{
    @*<script src="~/Scripts/config.js"></script>
    <script data-main="/Scripts/loader.js" src="~/Scripts/require.js"></script>*@
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/TableScript.js"></script>
}