@model IEnumerable<TypeScriptKOTable.Models.Student>

@{
    ViewBag.Title = "Home Page";
}
<div class="page-header">
    <h2 class="text-center">Регистрация студентов</h2>
</div>
<style type="text/css">
    .isVisible {
        display: inline;
    }

    .isHidden {
        display: none;
    }
</style>
<div class="row">

    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Добавить нового студента</h2>
            </div>
            <div class="panel-body" data-bind='component: { name: "AddStudent", params: {  $root }}'>
                @*@Html.Partial("_RegisterStudent")*@
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Список студентов</h2>
            </div>
            <div class="panel-body" data-bind="with: StudentAction">
                @Html.Partial("_StudentsList")

                @*<br />
                <input type="button" class="btn btn-default" id="btnGetStudents" value="Обновить" data-bind="click: getStudents" />*@
            </div>
        </div>
    </div>
    
</div>
<div data-bind='component: "message-editor"'></div>
@*  Шаблон чтения *@
<script type="text/html" id="readonlyTemplate">
    <tr>
        <td data-bind="text: Id"></td>
        <td data-bind="text: FirstName"></td>
        <td data-bind="text: LastName"></td>
        <td data-bind="text: Gender"></td>
        <td data-bind="text: Phone"></td>
        <td><button type="button" class="btn btn-warning glyphicon glyphicon-pencil btn-sm" data-bind="click: $root.StudentAction.editTemplate"></button></td>
        <td><button type="button" class="btn btn-danger glyphicon glyphicon-trash btn-sm" data-bind="click: $root.StudentAction.removeStudent"></button></td>
    </tr>
</script>
@* Шаблон редактирования *@
<script type="text/html" id="editTemplate">
    <tr>
        <td data-bind="text: $data.Id"></td>
        <td>
            <input type="text" data-bind="value: $data.FirstName" class="form-control" />
        </td>
        <td>
            <input type="text" data-bind="value: $data.LastName" class="form-control" />
        </td>
        <td>
            <input type="text" data-bind="value: $data.Gender" class="form-control" />
        </td>
        <td>
            <input type="text" data-bind="value: $data.Phone" class="form-control" />
        </td>
        <td>
            <button type="button" class="btn btn-success glyphicon glyphicon-ok btn-sm" data-bind="click: $root.StudentAction.saveChanges"></button>
        </td>
        <td>
            <button type="button" class="btn btn-danger glyphicon glyphicon-remove btn-sm" data-bind="click: $root.StudentAction.resetTemplate"></button>
        </td>
    </tr>
</script>
@section Scripts{
    @*<script src="~/Scripts/config.js"></script>
    <script data-main="/Scripts/loader.js" src="~/Scripts/require.js"></script>*@
    
    <script src="~/Scripts/TableScript.js"></script>
    
}